doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home Page
    Link(rel="stylesheet" href="/css/home.css")     
  body
    h1 WELCOME TO KGL GROCERY LIMITED!
    p Never run out of cereal again! New deals every time you visit! New finds all the time; No excuses.
    a(href="/login") Login