doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home Page
    Link(rel="stylesheet" href="/css/home.css")     
  body
    h1 WELCOME TO KGL GROCERY LIMITED
    p Never run out of cereal again! 
 
  td
        a.btn.btn-primary.btn-sm(href='/viewStock') View Products
  br
  td
      a.btn.btn-success.btn-sm(href='/login') Login

    
  
