doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login Page
    link(rel="stylesheet" href="/css/login.css")
  body
    nav.navbar
      ul
        li
          a(href='/') Home
        li
          a(href='/login') Login
    h2 Login
    form(action="/login" method="POST" id="loginForm")
      label(for="email") Email:
      input(type="email" name="email" id="email" placeholder="Enter Email")
      span(id="emailError" class="error-message")
      label(for="password") Password:
      input(type="password" name="password" id="password" placeholder="Enter Password")
      span(id="passwordError" class="error-message")
      br
      input(type="submit" value="Login")
      br
    a(href="/signup") Don't have an account? Register
  script(src='/js/formValidation.js')
