doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Login Page
    Link(rel="stylesheet" href="/css/login.css")     
  body
    h2 Login
    form(action="/login" method="POST")
      label(for="email") Email:
      input(type="email" name="email" placeholder="Enter Email" )
      label(for="password") Password:
      input(type="password" name="password" placeholder="Enter Password" )
      br
      input(type="submit" value="Login")
      br
    a(href="/signup") Don't have an account? Register
  script(src='/js/formValidation.js')
