


doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Manager
  Link(rel="stylesheet" href="/css/manager-dashboard.css")  
body
nav.horizontal-navbar
  a(href='home') Home
  a(href='/signup') Add Users
  a(href='creditsale') Make Credit sales
  a(href='stock') Purchase 
  .search-container
    form(action='#' onsubmit='return false;')
      input#search-input(type='text' placeholder='Search..' name='search')
      button(type='submit' onclick='performSearch()') Search
nav.vertical-navbar
  a(href='/Pro-list') Produce List
  a(href='all-users') All Users List
  a(href='Creditlist') Credit Sales List
  a(href='reports') Report
  a(href='logout') Logout
.main-content
  h1 Welcome to KGL Grocery Limited Manager's Dashboard.
    
  main.content
      block content
   
script(src='/js/manager-dashboard.js')
 


