<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Dashboard with Sidebar</title>
    <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/managerdasboard.css">
</head>

<body>
    <div id="sidebar">
        <button id="toggle-btn" aria-label="Toggle sidebar">☰</button>
        <nav>
            <ul>
                <li><a href="dashboard.html">Home</a></li>
                <li><a href="produceProcured.html">Produce Procured</a></li>
                <li><a href="stock.html">Stock</a></li>
                <li><a href="index.html">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <header>
            <h1> Manager Dashboard</h1>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="stat-card">
                            <h3>Produce Procured</h3>
                            <div class="count">
                                <span>20,000</span>
                                <p>10% increase</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat-card">
                            <h3>Total Sales | Daily</h3>
                            <div class="count">
                                <span>500000(Ugx)</span>
                                <p>Records</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat-card">
                            <h3>KGL Credit Sales | Daily</h3>
                            <div class="count">
                                <span>5</span>
                                <p>3% increase</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </main>

    </div>
    <script src="../public/js/managerdasboard.js"></script>
</body>

</html>