


doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Manager
  Link(rel="stylesheet" href="/css/manager-dashboard.css")  
body
nav.horizontal-navbar
  a(href='home') Home
  a(href='/signup') Add Users
  a(href='creditsale') Make Credit sales
  a(href='stock') Purchase 
nav.vertical-navbar
  a(href='/Pro-list') Produce List
  a(href='all-users') All Users List
  a(href='Creditlist') Credit Sales List
  a(href='viewStock') Stock Levels
  a(href='logout') Logout
.main-content
  h1 Welcome to KGL Grocery Limited Manager's Dashboard.
  section.stat-container
    .stat-card
      img.stat-image(src='/images/bb.jpg' alt='Image 2')
      h3(style='text-align: center;')  Beans
      p(style='text-align: center;')
    .stat-card
      img.stat-image(src='/images/rrr.jpg' alt='Image 2')
      h3(style='text-align: center;') Rice
      p(style='text-align: center;')
    .stat-card
      img.stat-image(src='/images/mmz.jpg' alt='Image 2')
      h3(style='text-align: center;') Maize
      p(style='text-align: center;')
    .stat-card
      img.stat-image(src='/images/gnt.jpg' alt='Image 2')
      h3(style='text-align: center;') G-nuts
      p(style='text-align: center;')
    .stat-card
      img.stat-image(src='/images/ssb.jpg' alt='Image 2')
      h3(style='text-align: center;') Soybeans
      p(style='text-align: center;')
    .stat-card
      img.stat-image(src='/images/cowps1.jpg' alt='Image 2')
      h3(style='text-align: center;') Cow peas
      p(style='text-align: center;')
    
  main.content
      block content
   
script(src='/js/manager-dashboard.js')
 


