<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../public/css/product.css">
</head>

<body>
    <header>
        <h1 style="text-align: center;">KGL GROCERY LTD PRODUCTS</h1>
    </header>
    <main>
        <section class="stat-container">
            <div class="stat-card">
                <img src="../public/images/redb4.jpg" alt="Image 2" class="stat-image">
                <h3 style="text-align: center;">Red Beans</h3>
                <p style="text-align: center;"></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/blackb.jpg" alt="Image 2" class="stat-image">
                <h3>Black Beans</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/whiteb.jpg" alt="Image 2" class="stat-image">
                <h3>White Beans</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/greenb.jpg" alt="Image 2" class="stat-image">
                <h3>Green Beans</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/rice1.jpg" alt="Image 2" class="stat-image">
                <h3>Rice F1</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/rice5.jpg" alt="Image 2" class="stat-image">
                <h3>Rice</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/rice2.jpg" alt="Image 2" class="stat-image">
                <h3>Rice</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/whitem.jpg" alt="Image 2" class="stat-image">
                <h3>Maize</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/mz4.jpg" alt="Image 2" class="stat-image">
                <h3>Maize</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/pmz.jpg" alt="Image 2" class="stat-image">
                <h3>Maize</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/redgn2.jpg" alt="Image 2" class="stat-image">
                <h3>G-nuts</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/gn1.jpg" alt="Image 2" class="stat-image">
                <h3>G-nuts</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/pn1.jpg" alt="Image 2" class="stat-image">
                <h3>G-nuts</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/soyb1.jpg" alt="Image 2" class="stat-image">
                <h3>Soya Beans</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/soyb2.jpg" alt="Image 2" class="stat-image">
                <h3>Soya Beans</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/soya.jpg" alt="Image 2" class="stat-image">
                <h3>Soya Beans</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/cowp.jpg" alt="Image 2" class="stat-image">
                <h3>Cow peas</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/cowps.jpg" alt="Image 2" class="stat-image">
                <h3>Cow peas</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/cowps1.jpg" alt="Image 2" class="stat-image">
                <h3>Cow Peas</h3>
                <p></p>
            </div>
            <div class="stat-card" style="text-align: center;">
                <img src="../public/images/cowps1.jpg" alt="Image 2" class="stat-image">
                <h3>Cow peas</h3>
                <p></p>
            </div>
        </section>
    </main>
    <footer>
        <p>© 2024 My Landing Page</p>
    </footer>
</body>

</html>