
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Agent 
  Link(rel="stylesheet" href="/css/salesagent-dashboard.css")  
body
nav.horizontal-navbar
  a(href='home') Home
  a(href='thesale') Make Sales
  a(href='creditsale') Make Credit sales
  a(href='stock') Purchase 
nav.vertical-navbar
  a(href='Creditlist') Credit Sales List
  a(href='saleslist') Sales List
  a(href='logout') Logout
.main-content
  h1 Welcome to KGL Grocery Limited Sales Agent Dashboard.
  main.content
      block content  
script(src='/js/salesdashboard.js')


 
