doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Edit User
    Link(rel="stylesheet" href="/css/signup.css")     
  body
    h2 Edit Details of the User
    form(action="/update-user?id"+user._id method="POST")
      input(type="text" name="username" placeholder="Your Name" required value=user.username)
      input(type="email" name="email" placeholder="Email Address" required value=user.email)
      select(name="role" required)
        option(value="manager" selected = user.role === "manager") Manager
        option(value="sales-agent" selected = user.role === "sales-agent") Sales Agent
      select(name="branch" required)
        option(value="maganjo" selected = user.branch === "maganjo") Maganjo
        option(value="matuga" selected = user.branch === "matuga") Matuga        
      input(type="submit" value="Save Changes")
    a(href="/all-users") Go Back To All Users Page

