doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Receipt Generator
  link(rel='stylesheet' href='/css/gen.css')
.container
  h1 Record Sales
  form#receiptForm(action='/updatesale?id='+sale._id method='POST')
    label(for='salesAgent') The Sales Agent Name:
    input#salesAgent(type='text' name='salesAgent' value = sale.salesAgent)
    label(for='transactionId') Transaction ID:
    input#transactionId(type='text' name='transactionId' value = sale.transactionId)
    label(for='date') Date and Time:
    input#date(type='datetime-local' name='date' value = sale.date)
    label(for='customerName') Customer Name:
    input#customerName(type='text' name='customerName' value = sale.customerName)
    label(for='items') Items (format: Item, Quantity, Price):
    input#items(name='items' value = sale.items rows='5' )
    label(for='total') Total:
    input#total(type='number' name='total' value = sale.total)
    button(type='submit') Submit
script(src='/js/gen.js')
