body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #e1dd72;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1b6535;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* General button styling */
.btn {
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Blue button for edit */
  .btn-primary {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

    /* Green button for add user */
    .btn-success {
        background-color: #28a745;
        color: white;
        border: 1px solid #28a745;
      }
      
      .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
      }

  /* Red button for Delete */
  .btn-danger {
    background-color: red;
    color: white;
    border: 1px solid #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  