body{
    /* background-image: url(/images/6.jpg); */
    background-size: cover;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
    margin: 80px auto;
    background-color: white;
    text-align: center;
    align-content: center
}

body.container {
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
    margin: 80px auto;
    background-color: #e1dd72;
    text-align: center;
    align-content: center;
}   
   
    


.produce-form{
    align-items: center;
    justify-content: center;


} 
h1 {
    text-align: center;
}

input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #1b6535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color:#1b6535;

}


