body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

#sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    background-color: #111;
    color: white;
    transition: left 0.3s ease;
    overflow: hidden;
    z-index: 1000; /* Make sure it stays on top */
}

#sidebar button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #111;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    padding: 15px;
}

#sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#sidebar nav ul li a:hover {
    background-color: #575757;
}

#content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    padding: 16px;
}

header {
    background-color: #04fe10;
    padding: 10px;
    border-bottom: 1px solid #ddd;


}

main {
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (min-width: 768px) {
    #sidebar {
        left: 0;
    }

    #content {
        margin-left: 100px;
    }

    #sidebar button {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #sidebar {
        left: -250px;
    }

    #content {
        margin-left: 0;
    }
}

.stat-card {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
}

.stat-card .count span{
    font-size: 28px;
    color: red;
}
